# DATA_PREPROCESSING

In [60]:
import pandas as pd
import numpy as np
from pathlib import Path

In [61]:

# Find project root automatically
PROJECT_ROOT = Path().resolve()

while not (PROJECT_ROOT / "data").exists():
    PROJECT_ROOT = PROJECT_ROOT.parent

# Build correct file path
file_path = PROJECT_ROOT / "data" / "raw" / "nifty50_all_stock_data.csv"

In [62]:
df = pd.read_csv(file_path, low_memory=False)
df

,Unnamed: 0,Date,Close,High,Low,Open,Volume,Stock
0,0,2010-01-04,218.593063,221.763734,207.688828,221.763734,76646086,RELIANCE.NS
1,1,2010-01-05,217.617493,233.714740,216.540283,233.714740,21392825,RELIANCE.NS
2,2,2010-01-06,221.133682,222.454796,217.607324,219.487367,23691760,RELIANCE.NS
3,3,2010-01-07,224.802307,226.621378,219.101204,221.133693,26197920,RELIANCE.NS
4,4,2010-01-08,224.212875,226.377471,222.759654,225.198627,15110149,RELIANCE.NS
...,...,...,...,...,...,...,...,...
177231,177231,2024-12-24,131.317795,132.447964,130.501035,130.975895,7802858,IOC.NS
177232,177232,2024-12-26,130.918915,132.599909,130.216117,131.346286,8620779,IOC.NS
177233,177233,2024-12-27,129.399368,131.811651,129.256916,131.108867,6146307,IOC.NS
177234,177234,2024-12-30,127.841820,129.950199,127.357468,129.399360,29229520,IOC.NS
177235,177235,2024-12-31,129.551315,130.339585,127.471426,127.756345,8243910,IOC.NS

In [63]:
df= df.iloc[:,1:]

In [64]:
df = df[['Date','Open','High','Close','Low','Volume','Stock']]

In [65]:
df

,Date,Open,High,Close,Low,Volume,Stock
0,2010-01-04,221.763734,221.763734,218.593063,207.688828,76646086,RELIANCE.NS
1,2010-01-05,233.714740,233.714740,217.617493,216.540283,21392825,RELIANCE.NS
2,2010-01-06,219.487367,222.454796,221.133682,217.607324,23691760,RELIANCE.NS
3,2010-01-07,221.133693,226.621378,224.802307,219.101204,26197920,RELIANCE.NS
4,2010-01-08,225.198627,226.377471,224.212875,222.759654,15110149,RELIANCE.NS
...,...,...,...,...,...,...,...
177231,2024-12-24,130.975895,132.447964,131.317795,130.501035,7802858,IOC.NS
177232,2024-12-26,131.346286,132.599909,130.918915,130.216117,8620779,IOC.NS
177233,2024-12-27,131.108867,131.811651,129.399368,129.256916,6146307,IOC.NS
177234,2024-12-30,129.399360,129.950199,127.841820,127.357468,29229520,IOC.NS
177235,2024-12-31,127.756345,130.339585,129.551315,127.471426,8243910,IOC.NS

In [66]:
df.isnull().sum()

Date      0
Open      0
High      0
Close     0
Low       0
Volume    0
Stock     0
dtype: int64

In [67]:
df.duplicated().sum()

np.int64(0)

In [68]:
df.shape

(177236, 7)

In [69]:
df.columns

Index(['Date', 'Open', 'High', 'Close', 'Low', 'Volume', 'Stock'], dtype='object')